/*https://andy-bell.co.uk/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* MY CSS BELOW */

body {
    font-family: 'Libre Franklin', sans-serif;
}

.container {
    width: auto;
    height: fit-content;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.logo {
    width: 100px;
    margin: 50px auto;
}


h1 {
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 300;
    color: hsl(0, 0%, 59%);
}

span {
    font-weight: 700;
    color: hsl(209, 33%, 12%);
}

form {
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.notify {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: hsl(209, 33%, 12%);
}

::placeholder {
    color: hsl(223, 100%, 88%);
    font-size: 1rem;
}

.inputDiv {
    width: 60%;
}

input {
    width: 100%;
    margin: auto;
    border: 1px solid hsl(223, 100%, 88%);
    border-radius: 10rem;
    padding: 1rem 2.5rem;
}

input:focus {
    outline: transparent;
}

output {
    width: 40%;
}

.invalidEmail {
    border: 1px solid hsl(354, 100%, 66%);
}

.invalidEmailMessage {
    text-align: left;
    margin-left: 2rem;
    font-size: 0.75rem;
    font-style: italic;
    color: hsl(354, 100%, 66%);
}

.button {
    width: 25%;
    /* margin: auto; */
}

button {
    width: 100%;
    /* margin: auto; */
    font-weight: 600;
    font-size: 1rem;
    border-radius: 10rem;
    padding: 1rem 2.5rem;
    color: hsl(0, 0%, 100%);
    background-color: hsl(223, 87%, 63%);
    box-shadow: 0 5px 10px hsl(223, 100%, 88%);
    border: 1px solid hsl(223, 87%, 63%);
}

button:hover {
    background-color: hsl(223, 100%, 88%);
    border: 1px solid hsl(223, 100%, 88%);
    cursor: pointer;
}

button:focus {
    background-color: hsl(223, 100%, 88%);
    border: 1px solid hsl(223, 100%, 88%);
}


.illustration {
    width: 800px;
    margin: 0 auto;
    padding: 3rem 0;
}

.social ion-icon {
    width: 12px;
    height: 12px;
    margin: 0.5rem;
    padding: 5px;
    color: hsl(223, 87%, 63%);
    border: 1px solid hsl(0, 0%, 83%);
    border-radius: 50%;
}

.copyright {
    font-size: 0.75rem;
    text-align: center;
    color: hsl(0, 0%, 59%);
    padding-bottom: 2rem;
}

.attribution {
    font-size: 10px;
    text-align: center;
    color: hsl(0, 0%, 59%);
}

.attribution a {
    color: hsl(0, 0%, 59%);
}

@media (max-width: 375px) {

    .container {
        align-items: center;
        margin: 20px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .notify {
        font-size: 1rem;
        margin-top: 1rem;
    }

    form {
        width: 300px;
        flex-direction: column;
    }

    .button {
        width: 100%;
        margin: 0;
    }

    button: {
        font-size: 0.75rem;
        padding: 0.5rem 0.5rem;
    }

    .inputDiv {
        width: 100%;
        margin-bottom: 10px;
    }

    .invalidEmailMessage {
        text-align: center;
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .illustration {
        margin: 0 auto;
    }

    .social ion-icon {
        width: 12px;
        height: 12px;
        margin: 0.5rem;
        padding: 5px;
    }

    .copyright {
        font-size: 0.75rem;
        text-align: center;
        color: hsl(0, 0%, 59%);
        padding-bottom: 2rem;
    }
}

/* * {
    outline: 1px solid red;
} */